<% if signed_in? && owner? %>
	<a data-toggle="modal" href="#addvacant" >+Agregar</a>
	
	<div class="modal hide fade" id="addvacant">
	  <div class="modal-header">
	    <a class="close" data-dismiss="modal">×</a>
	    <h3>Agregar un colaborador</h3>
	  </div>
	  <div class="modal-body">

	  	<%= form_for @board.vacants.build(collection_id: @board.id) do |f|%>
	  	<div class='row'>
	  	<div class = 'span4 offset1'>
	  		<%= render 'vacants/fields', f: f %>
	  	</div>
	  </div>
	  </div>
	  <div class="modal-footer">
	    <a  data-dismiss="modal" href="#" class="btn btn-small">Cerrar</a>

	      <%= f.submit "Publicar", class: "btn btn-small btn-primary" %>

	    <% end %>
	  </div>
	</div>
<%end%>