<div class = 'span8 offset1'>
	<h1>Antes de crear tu proyecto:</h1>
	<br>
	<hr>
	<h2>Se trata sobre ti y tus ideas creativas.</h2>
	<p>Funkalab e sun lugar para hacer que tus ideas creativas se vuelvan realidad.</p>
</div>
<div class = 'span5 offset2'>
	<%= image_tag '01-idea.jpg'%>
</div>
<div class = 'span8 offset1'>
	<hr>
	<h2>Funkalab es para divertirte.</h2>
	<p>Este lugar es un espacio para salirte de la rutina y hacer lo que verdaderamente te motiva como creativo. No importa si quieres hacer un cómic, un grupo de música o una instalación artística, lo que queremos es que disfrutes lo que haces.</p>
</div>
<div class = 'span6 offset2'>
	<%= image_tag '02-diversion.jpg'%>
</div>
<div class = 'span8 offset1'>
	<hr>
	<h2>Funkalab no es sobre proyectos de dinero ni para buscar empleados.</h2>
	<p>Los proyectos de Funkalab se deben de centrar en un proyecto creativo y no en un modelo de negocios. Tampoco es para encontrar trabajadores o que te hagan las cosas gratis. Recuérdalo.</p>
	<%= image_tag '03-trabajo.jpg'%>
</div>
<div class = 'span8 offset1'>
	<hr>
	<h2>Cuando compartes tu idea, es la idea del colectivo.</h2>
	<p>Funkalab es un colectivo: cuando compartes tu idea y aceptas a alguien a colaborar en ella, se convierte en el proyecto de los que participan directamente en su creación. No tengas miedo en compartir tus ideas, es la mejor manera para que se vuelvan realidad.</p>
</div>
<div class = 'span6 offset2'>
	<%= image_tag '04-colectivo.jpg'%>
</div>