<h4>Recuerda que:</h4>
<h3>Se trata sobre ti y tus ideas creativas: </h3><p><small>Funkalab es un lugar para hacer que tus ideas creativas se vuelvan realidad. Somos un colectivo online en donde los creativos se ayudan mutuamente para realizar los proyectos que realmente les interesan.</small></p>
<h3>Funkalab no es sobre proyectos de dinero: </h3><p><small>Los proyectos de Funkalab se deben de centrar en un proyecto creativo y no en un modelo de negocios.</small></p>
<h3>Funkalab no es para encontrar empleados: </h3><p><small>Funkalab se centra en la colaboración de creativos, no es un lugar para encontrar trabajadores o que te hagan las cosas gratis.</small></p>
<h3>Cuando compartes tu idea, es la idea del colectivo: Funkalab es un colectivo: </h3><p><small>cuando compartes tu idea y aceptas a alguien a colaborar en ella, se convierte en el proyecto de los que participan directamente en su creación.</small></p>