<%if !@board.collaborations.empty? %>
	<h2>Colaboradores:</h2> 
	<% @board.collaborators.each do |c| %>
		<%= render 'shared/user_face', u: c %>
	<%end%>
	<div id="users">
		<%# render 'shared/users', users:@board.collaborators %>
		</div>
	<hr>
<%end%>