<div class='row'>
<div class='span1'>

<div class="fb-like" data-href="http://www.funkalab.com/collections/<%=@board.id.to_s%>" data-send="false" data-width="350" data-show-faces="false"></div>

</div>
</div>