<%if signed_in? && owner? %>
	
	<div class="modal hide fade" id="sharenow">
	  <div class="modal-header">
	    <a class="close" data-dismiss="modal">×</a>
	  </div>
	  <div class="modal-body">
	  	<h3>Listo, tu proyecto ha sido creado.</h3>
	    <h3>Una cosa más:</h3>

	  	<br>
	  	*Descríbemos, en 140 caracteres tu idea. Esto aparecerá en la portada de tu proyecto.
	  	<%#form_tag%>
	  </div>		
	  <div class="modal-footer">
		    <a  data-dismiss='modal' href="#" class="btn">Ir a mi proyecto</a>
	  </div>
	</div>

<%end%>