<div class= 'span4 offset1'>
	<%= image_tag 'badge.png' %>
</div>
<% if @board.externallinks %>
	<h3>Sitios relacionados</h3>
	<br>

	<% @board.externallinks.each do |el| %>
		<%= make_nice(el.link)%>
	<%end%>
<%end%>