<div class='row'>
<div class='span1'>


	<iframe src="https://www.facebook.com/plugins/like.php?href=<%='http%3A%2F%2Fwww.funkalab.com%2Fcollections%2F' + @board.id.to_s%>"&amp;show_faces=true
        scrolling="no" frameborder="0"
        style="border:none; width:350px; height:80px"></iframe>

	
</div>
<div class='span1 offset3'>
    <%= link_to fb_share_project, target: '_blank' do %>

      <% image_tag 'fb_share.png' %>
    <%end%>
</div>
<div class='span1'>
  <a href=<%= "https://twitter.com/share?text=Colabora%20en%20'"+ @board.title.split.join('%20') + "',%20un%20proyecto%20de%20" + @board.category.name + "%20en%20Funkalab!%20www.funkalab.com/collections/" + @board.id.to_s %> class="twitter-share-button" data-lang="en"></a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</div>