<% indexes = arr_2_cols(@board.items.where(kind: 1).count,@size) %>
<div class="row">
	<% indexes.each do |col| %>

				<% col.each do |i| %>
					<% item = @board.items.where(kind: 1)[i] %>
					<%= render 'item', item: item %>
				<% end %>
		
	<% end %>
</div>