<div class="idea">
	<h3>Have an idea? <a data-toggle="modal" href="#NewBoard" >Begin here!</a> <small>Write your idea, add notes and images from the web that will help you, invite your friends. <%= link_to 'Learn more...','/about'%></small></h3>
</div>
<hr>
<p>
	| <%= link_to "All", nav_path(category: '')%> |
	<% @categories.each do |c| %>
		<%= link_to c.name, nav_path(category: c.id)%> |
	<%end%>
</p>
<hr>
<div class="row-fluid">
	<div class="span12">
		<%= render 'shared/boards', boards:@boards %>
	</div>
</div>