<%= link_to "Sign out", signout_path, method: "delete" %>
<hr>
<%= render 'collections/create_board' %>
<hr>
<div class="row">
	<div class="span12">
		<%= render 'shared/boards', boards:@boards %>
	</div>
</div>