<div class='m0'>
<div class='container'>
<div class='span12'>
	<div class="row">
	  <div class="span9 offset2">
	  	<div class='why-t'>
		  <h1><%=@s5.tls.find_by_i(1).t%></h1>
		</div>
		  <h2><%=@s5.tls.find_by_i(2).t%></h2>
		  <br>
		  <h4><%=@s5.tls.find_by_i(3).t%></h4>
		  <br>
		  <%=image_tag 'banner-inferior.png'%>
	  </div>
	</div>
</div>
</div>
</div>