

<div class="center hero-unit">

  <h1>Funkalab</h1>
</br>
  <h3>About</h3>

<h4>A lab for your creative projects.</h4>
</br>
<h3>Where am I?</h3>
<h4>Funkalab is an open workspace to shape your creative ideas with what inspires you and gets you going. We want to help you grow your ideas from simple thoughts or sketches to real and interesting projects. </h4>
</br>
<h3>How am I going to do that?</h3>
<h4>We want you to get all of your ideas, references and images that can enhance your creative projects in one single place. Think someone else can help you? Just invite him over! Having trouble finding inspiration? Browse through similar projects and see what inspires other creatives!</h4>
</br>
<h3>How do I use my board?</h3>
<h4>Just give your board a description of your idea and start gathering any creative reference that can help your project grow.</h4>
</br>
<h3>For example?</h3>
<h4>Imagine you want to make a new music video: 
-First thing to do is give a description of your idea: “A music video that uses colorful illustrations and collages”. 
-Next, you would start posting videos, images, links or notes to your project’s board: music videos with handmade art or illustrations you really appreciate. 
-You can also browse other projects in the category “film” and send anything from other board that you like to your own project’s board!</h4> 
</br>
<h3>Why should I use Funkalab?</h3>
<h4>There isn’t a true platform for creatives to develop their projects online. It looks like every “creative” page only wants to showcase your final product. But how about a platform for creatives to really polish their work through a process that enhances personal inspiration and collaboration? Funkalab is that place and aims to be a space where your ideas and projects grow with your personal work, your own inspiration, and collaboration from other creatives like yourself.</h4>
</br>
<h3>Know any way we can get better or want to invite us a pizza?</h3>
<h4>We want to make this a great journey and we cannot make it without you. Don’t hesitate to contact us through Facebook, Twitter or our personal emails.</h4>
</br>
  

</div>
