<% provide :title, "Crear Proyecto" %> 
<div class = 'products_title textc'> 
	<h1>Somos creativos apoyando a creativos.</h1>
	<p>Realiza tu proyecto de arte, diseño, música, video o tecnología con la colaboración de nuestra comunidad.</p>
</div>
<div class='row'>
	<div class = 'span6 textc'>
		<%= link_to new_collection_path , class: 'free_product' do%>
			<h1>Proyecto personal</h1>
			<br>
			<p><i>Quieres hacer un proyecto personal y necesitas colaboración para llevarlo a cabo.</i></p>
			<br>
			<h2>Desarrolla tu proyecto creativo</h2>
			<p>Hazlo en tu tiempo libre con el apoyo de creadores apasionados<p/>
			<h2>Conoce creativos en tu ciudad</h2>
			<p>Únete a la comunidad y apóyate de los nuevos talentos</p>
			<h2>Aprende nuevas habilidades</h2>
			<p>Comparte tus conocimientos y aprende de los demás</p>
			<h2>Intercambia recompensas creativas por talento</h2>
			<p>Olvídate del dinero y dedícate a terminar tu idea</p>
			<br>
			<br>
			<h1>$0.00</h1>
			<div class='offset3 products_create'>
				<p>Crear proyecto</p>
			</div>
		<%end%>
	</div>
	<div class = 'span6 textc'>
		<%= link_to "#" , class: 'payed_product', id: "buy_now" do%>
			<h1>Emprendedor creativo</h1>
			<br>
			<p><i>Quieres hacer dinero de uno de tus proyectos y necesitas colaboración para llevarlo a cabo.</i></p>
			<br>
			<h2>Gana de lo que te gusta hacer</h2>
			<p>Inicia el proyecto creativo que te empezará a pagar las deudas</p>
			<h2>Apóyate del talento local</h2>
			<p>Recibe colaboraciones que te ayudarán a desarrollar tu proyecto</p>
			<h2>Te encontramos a la gente que necesitas</h2>
			<p>Tu proyecto estará publicado en donde más gente pueda verlo</p>
			<h2>Paga lo que puedas, intercambia algo especial</h2>
			<p>Remunera la colaboración con dinero e intercambios creativos</p>
			<br>
			<br>
			<h1>$120.00</h1>
			<div class='offset3 products_create'>
				<p>Crear proyecto</p>
			</div>
		<%end%>
	</div>
</div>

<script type="text/javascript">
  $(function() {
    $('a#buy_now').click(function(){
        document.getElementById('paypalbuy').click();
    });
  });   
</script>
<div class = 'hidden'>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="DAEV7QMY29TBS">
	<input type="hidden" name="notify_url" value="http://funkalab.com/pay">
	<input type="hidden" name="invoice" value="<%=@unique%>">
	<input type="hidden" name="return" value="http://funkalab.com/payed">
	<input type="hidden" name="cbt" value="Volver a Funkalab">
	<input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea." id="paypalbuy">
	<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
	</form>
</div>