<% provide :title, "Crear Proyecto" %> 
Somos creativos apoyando a creativos.
Realiza tu proyecto de arte, diseño, música, video o tecnología con la colaboración de nuestra comunidad
<div class='row'>
<div class = 'span6'>

Proyecto personal
Quieres hacer un proyecto personal y necesitas colaboración para llevarlo a cabo
Desarrolla tu proyecto creativo
Hazlo en tu tiempo libre con el apoyo de creadores apasionados
Conoce creativos en tu ciudad
Únete a la comunidad y apóyate de los nuevos talentos
Aprende nuevas habilidades
Comparte tus conocimientos y aprende de los demás
Intervcambia recompensas creativas por talento
Intercambia recompensas creativas por talento
Olvídate del dinero y dedícate a terminar tu idea

<%= link_to 'Crear proyecto', new_collection_path , class: 'btn btn-large' %>
</div>
<div class = 'span6'>
Emprendedor creativo
Quieres hacer diner de uno de tus proyectos y necesitas colaboración para llevarlo a cabo

Gana de lo que te gusta hacer
Inicia el proyecto creativo que te empezará a pagar las deudas
Apóyate del talento local
Recibe colaboraciones que te ayudarán a desarrollar tu proyecto
Te encontramos a la gente que necesitas
Tu proyecto estará publicado en donde más gente pueda verlo
Paga lo que puedas, intercambia algo especial
Remunera la colaboración con dinero e intercambios creativos

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="
VNUDDBH4NP45E">

<input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
</form>



</div>
</div>