<% provide :title, "Restaurar contraseña" %>
<div class='span12'>
<div class="row">
<div class="center span5 offset3 landingpage">

	<h1>Restaurar contraseña</h1>
	<br>
	<p>Si has olvidado tu contraseña, escribe tu correo electrónico a continuación y te haremos llegar una nueva.</p>
	<p>Una vez que inicies sesión podrás cambiarla en las Opciones</p>
	<br>
	<%=form_tag '/rstpss' do %>
		<%=text_field :email, nil, placeholder: 'escribe tu correo electrónico'%>
		<%=submit_tag 'Enviar nueva contraseña'%>
	<%end%>

</div>
</div>
</div>