<%= link_to 'http://www.funkalab.com/conversations', style: 'display:block;background-color:#F50C5B;width:25em;text-decoration:none;-webkit-border-radius:7px;text-align:center', onmouseover: "this.style.color = 'white'; this.style.text-decoration = 'none'", onmouseout: "this.style.color = 'white'" do %>
	<h3 style='color:white;'>¡Ponte en contacto en Funkalab!</h3>
<%end%>

<%@users.each do |u|%>
	<%if u.uid !=0%>
		<%= link_to 'https://www.facebook.com/' + u.uid.to_s do%>
					<%=image_tag 'https://graph.facebook.com/' + u.uid.to_s + '/picture' %><%end%>
	<%end%>
<%end%>
<%= image_tag User.find(6).photo.url(:thumb) %>