<%if user.c_art %>
	<span class="label label-info">Arte</span>
<%end%>
<%if user.c_video %>
	<span class="label label-info">Video</span>
<%end%>
<%if user.c_music %>
	<span class="label label-info">Música</span>
<%end%>
<%if user.c_tecnology %>
	<span class="label label-info">Tecnología</span>
<%end%>
<%if user.c_design %>
	<span class="label label-info">Diseño</span>
<%end%>