<%#This section is hard coded%>
<p><b>Intereses</b></p>

<%if user.c_art %>
	<div class= "b2">
			<p><small>Arte</small></p>
	</div>
	<br>
<%end%>
<%if user.c_video %>
	<div class= "b7">
			<p><small>Video</small></p>
	</div>
	<br>
<%end%>
<%if user.c_music %>
	<div class= "b5">
			<p><small>Música</small></p>
	</div>
	<br>
<%end%>
<%if user.c_tecnology %>
	<div class= "b17">
			<p><small>Tecnología</small></p>
	</div>
	<br>
<%end%>
<%if user.c_design %>
	<div class= "b22">
			<p><small>Diseño</small></p>
	</div>
	<br>
<%end%>