<% provide :title, "Registro" %> 
<h1>Regístrate</h1>

<div class="row">
	<div class="span6 offset3">
		
		<%= form_for(@user) do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>
		  
		  <%= render 'fields', f: f %>

		  <%= f.submit "Registrar" %>

		<% end %>

	</div>
</div>