<!-- requires boards -->
<!--div class="row-fluid"-->
	<% if boards %>
	<div class="row">
		<% for board in boards do %>
			<%= render 'shared/board_thumbnail',  board: board, size: 3 %>
		<% end %>
	</div>
	<% end %>
