<!-- requires board, size -->
<div class = <%= "span#{size}" %>>
	<%= link_to board.title, board %>
	</br>
	<%= board.description %>
	<% if board.items.any? %>
		<%= embedded(board.items.first.content, size.to_i) %>
	<%end%>
</div>