<!-- requires board, size -->
<!--%= link_to board, class:"blockLink" do %-->
<div class = "<%= "board-thumb" %>">
	<p><%= link_to board.title, board %></p>
	
	<p><small><%= board.description %></small></p>
	<% if board.items.any? %>
		<%= wrap(embedded(board.items.first.content, size.to_i)) %>
	<%end%>
</div>