<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hola <%= @from.name %>,</h1>
<p>
   <%= link_to @user.name, @user_url %> <%=@text%> <%= link_to @project.title, @project_url%>!
</p>
<br>
<p>
     ¡Exito en su nuevo proyecto!</p>
      <br>

<p>Gracias,</p>
   <p> Tus amigos de Funkalab.</p>
  </body>
</html>