<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hola <%=@to.name%>,</h1>
<p>
<%=link_to @from.name, @from_url %> <%=@message%> <%= link_to @project.title, @project_url %>:
</p>
<br>
<p>Gracias,</p>
   <p> Tus amigos de Funkalab.</p>
  </body>
</html>