<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi!</h1>
<p>
   Your friend <%= @inviter.name %> has invited you to collaborate in his new creative project!
</p><p>
   You can help <%= @inviter.name.split.first %> by collecting inspiration and posting ideas. Also check out other similar projects that can boost your creativity and help your ideas grow.
</p><p>
   To begin, follow this link <%= @url %> and login with your email and the following password:
</p><p>
Password: <%= @password %>
 </p>
</br>
<p>   Belong to a great community of creatives, who share ideas and inspirations!
</p><p>
   For any comments or questions, drop us a line at contact@funkalab.com
</p>
</br>
<p>Thanks,
</p>
   <p>   Your friends at Funkalab.</p>
  </body>
</html>