<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hola!</h1>
<p>
   <%= @inviter.name %> te ha invitado a colaborar en su proyecto de <%= @category.name %>: <%=link_to @collection.title, 'http://www.funkalab.com/collections/'+ @collection.id.to_s %>.
</p><br><p>
   Para colaborar entra y crea una cuenta en <%= link_to 'Funkalab', 'http://www.funkalab.com' %>.
</p><br><p>
   ¡Únete a una gran comunidad de creativos que colaboran, comparten ideas e inspiraciones!
</p><br><p>
 Para cualquier comentario o pregunta, contáctanos en hello@funkalab.com.
 </p>
<br>
<p>Gracias,
</p><p>
   Tus amigos de Funkalab.
</p>
  </body>
</html>