<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= make_nice(@body)%>
    <br>
    <%= make_nice(@signature)%>
  </body>
</html>