<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	<h1>¡Hola <%=@user.name%>!</h1>
  	<br>
    <%= make_nice(@body)%>
    <br>
    <%= make_nice(@signature)%>
  </body>
</html>