<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hola <%=@to.name%>,</h1>
<p>
<%=@from.name%> te ha enviado el siguiente mensaje:
</p>
<br>
<p>
"<%=@line.text%>"</p>
      <br>
<p>¡Ponte en contacto en Funkalab!</p>
<br>
<p>Gracias,</p>
   <p> Tus amigos de Funkalab.</p>
  </body>
</html>