<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hola <%= @user.name %>,</h1>
<p>
   Hemos recibido tu petición de cambiar tu contraseña y hemos generado una nueva para ti.
</p>
<br>
<p>
   Tu nueva contraseña es:
</p>
<br>
<h4>
   <%= @password %>
</h4>
<br>
<p>
Inicia sesión en Funkalab con tu nueva contraseña. Una vez adentro podrás cambiarla en tus Opciones.
</p>
      <br>

<p>Gracias,</p>
   <p> Tus amigos de Funkalab.</p>
  </body>
</html>