<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>¡Bienvenido a Funkalab, <%=@user.name%>!</h1>
    <p>
      Ahora perteneces a una gran comunidad de creativos que colaboran, comparten ideas e inspiración.
    </p>
    <br>
    <p>Comparte ese proyecto que tienes en mente (una animación, un cómic, alguna intervención de arte urbano) o únete a algún proyecto de nuestra comunidad.</p>
    <br>
    <p>
     Para iniciar sesión, sigue este enlace: <%= @url %>.
    </p>
    <br>
    <p>¡Gracias por unirte!</p>
    <P>Tus amigos de Funkalab.</P>
  </body>
</html>