<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Funkalab!</h1>
    <p>
      Now you belong to a great comunnity of creatives, who share ideas and inspirations.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and happy posting!</p>
  </body>
</html>