div.bussdiv0{
	padding-top: 4em;
	h1{font-size: 400%;}
}
div.bussdiv1{
	background-color: #08A7E3;
	padding-top: 5em;
	padding-bottom: 5em;
	h1{color: white;}
	h2{color: white;}
	h3{color: white;}
}
div.bussdiv2{
	background-color: #6D6E70;
	padding-top: 5em;
	padding-bottom: 5em;
	h1{color: white;}
	h2{color: white;}
	h3{color: white;}
	h4{color: white;}
}
div.bussdiv3{
	background-color: #13D3BC;
	padding-top: 5em;
	padding-bottom: 5em;
	h2{color: white;}
	h3{color: white;}
	h4{color: white;}
	p{color: white;}
}
div.bussdiv4{
	background-color: #FF8080;
	padding-top: 5em;
	padding-bottom: 5em;
	h1{color: white;}
	h2{color: white;}
	h3{color: white;}
	h4{color: white;}
	p{color: white;}
}
div.bussdiv5{
	padding-top: 5em;
	padding-bottom: 5em;
	h1{color: #00A69C;}
	h2{color: #00A69C;}
	h3{color: #00A69C;}
	h4{color: #00A69C;}
	p{color: #00A69C;}
}
div.bussdiv6{
	background-color: #F1F1F2;
	padding-top: 5em;
	padding-bottom: 5em;
	h1{color: #FF4893;}
	h2{color: #FF4893;}
	h3{color: #FF4893;}
	h4{color: #FF4893;}
	p{color: #FF4893;}
}
div.bussdiv7{
	background-color: blue;
	padding-top: 5em;
	padding-bottom: 5em;
	h1{color: white;}
	h2{color: white;}
	h3{color: white;}
	h4{color: white;}
	p{color: white;}
}
div.bussmail{
	p{color: red;
		font-size: 500%;}
}
a.bussfb{
	color: blue;
	font-size: 500%;
	&:hover{ text-decoration: none;}
}
a.busstw{
	font-size: 500%;
	&:hover{ text-decoration: none;}
}