// Place all the styles related to the Collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grayLighter:           #eee !default;
$grayLight:             #999 !default;
$grayDark:              #333 !default;
$grayDarker:            #222 !default;
$orange:                #f89406 !default;
$fuscia:				rgb(225, 41, 124) !default;
$fuscia2:				rgb(201, 41, 175) !default;
$cyan:					rgb(206, 255, 247)  !default;
$art:					rgb(255, 54, 97)  !default;
$music:					rgb(249, 176, 70)  !default;
$design:				rgb(183, 42, 146)  !default;
$film:					rgb(119, 203, 229)  !default;
$technology:			rgb(82, 206, 194)  !default;

div.thmbcontent{
	padding-top: 4px;
	clear: left;
}

ul.categorias{//deshuso
	background-color: black;
	li{
		background-color: white;
	}
}

div.alert-success{
	background-color: $fuscia;
	color: white;
	font-size: 20px;
	p{color: white;
		font-size: 20px;
	}

}

div.explorer_banner{
	background-color: #F3F3F3;
	padding: 100px 200px 80px 200px;
	margin: 0px 0px 64px 0px;
	border-bottom:1px solid $grayLighter;
}

div.explorer_vp{
	padding: 10px 120px 20px 120px;
	margin: 0px 0px 42px 0px;
	border:0px;
	width:960;
	text-decoration: none;
}
div.explorer_vp h3{
	color: gray
}	

div.explorer_vp h1{
	color: $grayDark
}

div.explorer_vp h4{
	color: $grayLight
}

div.b22{//diseno
	background-color: $design;
	text-align: center;
	width: 80px;
	height: 20px;
	float: left;
	small{color: white;}
	p{color: white;}
	a{color: white;}
}

div.b7{//video
	background-color: $film;
	text-align: center;
	width: 80px;
	height: 20px;
	float: left;
	small{color: white;}
	a{color: white;}
}

div.b5{//musica
	background-color: $music;
	text-align: center;
	width: 80px;
	height: 20px;
	float: left;
	small{color: white;}
	a{color: white;}
}

div.b2{//arte
	background-color: $art;
	text-align: center;
	width: 80px;
	height: 20px;
	float: left;
	small{color: white;}
	a{color: white;}
}

div.b17{//tecnologia
	background-color: $technology;
	text-align: center;
	width: 80px;
	height: 20px;
	float: left;
	small{color: white;}
	a{color: white;}
}

div.b0{//todo en menu
	background-color: $grayLight;
	text-align: center;
	width: 80px;
	height: 20px;
	float: left;
	small{color: white;}
	a{color: white;}
}

div.b3{//arte
	background-color: $art;
	text-align: center;
	width: 80px;
	height: 20px;
	float: left;
	small{color: white;}
	a{color: white;}
}

div.help {
	background-color: $grayLighter;
	padding: 15px 0px 15px 0px;
}

div.help2 {
	background-color: $grayLighter;
	padding: 15px 0px 15px 0px;
	margin-left: 15px;
}

img.bt{
	float: left;
	height: 30px;
	padding-right: 5px;
}

a.hlp {
   border: 1px solid #525252;
   background: #ffa600;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffbb33), to(#ffa600));
   background: -webkit-linear-gradient(top, #ffbb33, #ffa600);
   background: -moz-linear-gradient(top, #ffbb33, #ffa600);
   background: -ms-linear-gradient(top, #ffbb33, #ffa600);
   background: -o-linear-gradient(top, #ffbb33, #ffa600);
   background-image: -ms-linear-gradient(top, #ffbb33 0%, #ffa600 100%);
   padding: 20px 40px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #303030 0 1px 0;
   color: #ffffff;
   font-size: 24px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   &:hover {
	   border: 1px solid #525252;
	   text-shadow: #303030 0 1px 0;
	   background: #fab32f;
	   background: -webkit-gradient(linear, left top, left bottom, from(#fcd077), to(#fab32f));
	   background: -webkit-linear-gradient(top, #fcd077, #fab32f);
	   background: -moz-linear-gradient(top, #fcd077, #fab32f);
	   background: -ms-linear-gradient(top, #fcd077, #fab32f);
	   background: -o-linear-gradient(top, #fcd077, #fab32f);
	   background-image: -ms-linear-gradient(top, #fcd077 0%, #fab32f 100%);
	   color: #fff;
	   }
	&:active {
	   text-shadow: #1e4158 0 1px 0;
	   border: 1px solid #525252;
	   background: #f59b00;
	   background: -webkit-gradient(linear, left top, left bottom, from(#ff9d00), to(#fab32f));
	   background: -webkit-linear-gradient(top, #ff9d00, #f59b00);
	   background: -moz-linear-gradient(top, #ff9d00, #f59b00);
	   background: -ms-linear-gradient(top, #ff9d00, #f59b00);
	   background: -o-linear-gradient(top, #ff9d00, #f59b00);
	   background-image: -ms-linear-gradient(top, #ff9d00 0%, #f59b00 100%);
	   color: #fff;
	   }
   }

a.qc {
	background-color: #f50c5b;
	display: block;
    padding: 5px 5px 5px 5px;
    width: 130px;
    text-align: center;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    h3{color: white;}
    &:link {text-decoration:none;}
	&:visited {text-decoration:none;}
    &:hover{
    	background: #F44764;}
	}​

a.help-btn {
	background-color: $orange;
	display: block;
    padding: 20px 40px 15px 70px;
    h1{color: #FFFFFF;}
    &:link {text-decoration:none;}
	&:visited {text-decoration:none;}
    &:hover{border-color: $grayLight;}
	}​

a.empty{
	
}

